<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1> Accedé a tu perfil </h1>

    <form action="/users/login" method="POST">
        <label for=""> Email</label><br>
          <input type="email" name="email"><br>
          <label for=""> Contraseña </label> <br>
          <input type="password" name="password"> <br>
          <input type="submit" value="enviar"><br>
          </form>

</body>
</html>