<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
     

        
    <h1> Perfil de: <%=nombre%>  </h1>
    <h3> Email: <%=email%> </h3>
    <h3> Avatar: <img src="/img/avatars/<%=avatar%>" alt="Tu avatar"> </h3>
    
    


    
</body>
</html>